# Indentation de 4 espaces pour le PHP, 2 pour le reste ; fins de ligne LF.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{scss,mjs,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
